* { box-sizing: border-box; }

body { font-family: sans-serif; }

.render-container {
  margin: auto;
  width: 200px;
  height: 200px;
  perspective: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}
.box-text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  text-align: center;
}
.box-image {
    height: 100%;
    position: relative;
}
.cube.show-front  { transform: translateZ(-100px) rotateY(   20deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-150deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  70deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }
.cube.show-show   { transform: translateZ(-600px) rotateY(  70deg) rotate(-10deg); }
.show-container {
  width: 200px;
  height: 200px;
  margin: 80px;
  perspective: 1000px;
}

.cube__face {
  background-image: url("https://lh3.googleusercontent.com/o-PEiKfMtK68NARnov7vdnRA1USCewNo3OOQKyyHd-JFYHRmkNKQv8gnwExchxz2vm6qNR42KPeXMGvhO2JSdrSZMy63VICv3or3yBt9Y8l0EGKcxymoCi0ZxnegteIEARqD-jCNUQ");
  overflow: hidden;
  background-size: contain;
  position: absolute;
  width: 200px;
  height: 200px;
  border: none;
  line-height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: wrap;
  box-shadow: inset 0 0 40px 20px #dad9d959;
}

.shadow-side {
  box-shadow: inset 0px 0px 20px 100px rgba(0, 0, 0, 0.171);
}

.light-side {
  box-shadow: inset 0px 0px 20px 100px rgba(255, 255, 255, 0.171);
}
.cube__face--front  {
  /* border: 1px solid rgb(133, 95, 59); */
  transform: rotateY(  0deg) translateZ(100px);
}

.cube__face--right  {
  /* border: 1px solid rgb(133, 95, 59); */
  transform: rotateY( 90deg) translateZ(100px);
}

.cube__face--left   {
  /* border: 1px solid rgb(133, 95, 59); */
  transform: rotateY(-90deg) translateZ(100px);
}
.cube__face--back   {
  /* border: 1px solid rgb(133, 95, 59); */
  transform: rotateY(180deg) translateZ(100px);
}

.cube__face--top    {
  /* border: 1px solid rgb(133, 95, 59); */
  transform: rotateX( 90deg) translateZ(100px);
}

.cube__face--bottom {
  /* border: 1px solid rgb(133, 95, 59); */
  transform: rotateX(-90deg)
  translateZ(100px);
}

.cube-shadow {
  width: 400px;
  height: 200px;
  background-color: rgba(107, 105, 105, 0.39);
  box-shadow: inset 0px 0px 25px 20px white;
  transform: rotateX(-90deg)
  translateZ(120px) translateY(0px);
}

.box-render__button {
  color: #516197;
  border: none;
  background-color: white;
  height: 30px;
  margin-right: 5px;
  font-size: 15px;
  font-weight: 500;
  text-transform: lowercase;
  font-family: Arial, Helvetica, sans-serif;
}

.button-group {
  background-color: white;
  padding: 10px;
  border-radius:10px;
}
.box-render__button:hover {
  background-color: #edeff3;
  border-radius: 5px;
}

.box-rendering__button-group__header{
  background-color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: 500;
  color: #8189a7;
  align-self: flex-start;

}


label { margin-right: 10px; }
