/* Material UI fonts: */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
/* Font Icons: */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* SVG Icons: npm install @material-ui/icons */
@import url('./hompage.css');
@import url('./navbar.css');
@import url('./packageBases.css');
@import url('./designPage.css');

.section-header {
    margin-top: 0;
    padding-top: 100px;
    color: #2e469e;
    font-size: 58px;
    font-family: 'Times New Roman', Times, serif;
  }

  .section-description {
    width: 700px;
    margin: 0px 0px 50px 0px;
    color: #575b5e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .star-header {

}

.section-button {
    background-color: white;
    color: #2e469e;
    height: 63px;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;

  }
  .section-button:hover {
    background-color: #2e469e;
    color: white;
  }
