.navbar {
    height: 70px;
    background-color: rgba(255, 255, 255, 0.89);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
};

.navbar__link {
    color: gray;
}

.navbar__container {
    display: flex;
    width: 500px;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.navbar__link {
    text-decoration: none;
    color: gray;
    font-family: 'Basis Grotesque Pro Light';
    font-weight: bold;
}

.navbar__link:hover {
    color: black;
    text-decoration: underline;
}
